/* src/styles/global.css */
.custom-pink-button {
    background-color: pink;
    color: white;
    border: none;
    border-radius: 4px;
}

.custom-pink-button:hover,
.custom-pink-button:focus {
    background-color: #f8bbd0;
    color: white;
    border: none;
}

.custom-pink-button:active {
    background-color: #f48bbd;
    color: white;
    border: none;
}